In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
aapl = yf.download(tickers='AAPL')
aapl

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086999,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600
...,...,...,...,...,...,...
2024-06-14,213.850006,215.169998,211.300003,212.490005,212.490005,70122700
2024-06-17,213.369995,218.949997,212.720001,216.669998,216.669998,93728300
2024-06-18,217.589996,218.630005,213.000000,214.289993,214.289993,79943300
2024-06-20,213.929993,214.240005,208.850006,209.679993,209.679993,86172500
2024-06-21,210.389999,211.889999,207.110001,207.490005,207.490005,241805100

In [39]:
aapl['200DMA'] = aapl['Close'].rolling(window=200, min_periods=200).mean()
aapl['Volume MV20'] = aapl['Volume'].rolling(window=20).mean()
aapl.dropna(inplace=True)

brea = aapl[(aapl['Close'] > aapl['200DMA']) & (aapl['Volume'] > aapl['Volume MV20'])]

aapl

,Open,High,Low,Close,Adj Close,Volume,200DMA,Volume MV20
Date,,,,,,,,
1983-04-25,0.227679,0.229353,0.215960,0.217076,0.167537,125708800,0.133119,155844640.0
1983-04-26,0.217076,0.226004,0.216518,0.223214,0.172274,99433600,0.133959,157087840.0
1983-04-27,0.223214,0.228237,0.218750,0.220982,0.170552,86038400,0.134785,156203040.0
1983-04-28,0.220982,0.224330,0.218192,0.223214,0.172274,79408000,0.135617,155783040.0
1983-04-29,0.223214,0.226563,0.220424,0.225446,0.173997,308313600,0.136448,166941600.0
...,...,...,...,...,...,...,...,...
2024-06-14,213.850006,215.169998,211.300003,212.490005,212.490005,70122700,182.424250,68105320.0
2024-06-17,213.369995,218.949997,212.720001,216.669998,216.669998,93728300,182.569350,70727590.0
2024-06-18,217.589996,218.630005,213.000000,214.289993,214.289993,79943300,182.701450,72506690.0
2024-06-20,213.929993,214.240005,208.850006,209.679993,209.679993,86172500,182.802550,74699845.0
2024-06-21,210.389999,211.889999,207.110001,207.490005,207.490005,241805100,182.891500,85057675.0

In [40]:
Breakout

,Open,High,Low,Close,Adj Close,Volume,200DMA,Volume MV20
Date,,,,,,,,
1983-04-29,0.223214,0.226563,0.220424,0.225446,0.173997,308313600,0.136448,166941600.0
1983-05-17,0.231027,0.232143,0.228237,0.231585,0.178735,154358400,0.146875,123229120.0
1983-05-18,0.231585,0.236607,0.231585,0.234375,0.180888,157001600,0.147759,116662560.0
1983-05-20,0.241629,0.254464,0.238281,0.253906,0.195962,146092800,0.149687,109620000.0
1983-05-23,0.253906,0.256696,0.248884,0.256696,0.198116,121744000,0.150695,109421760.0
...,...,...,...,...,...,...,...,...
2024-06-14,213.850006,215.169998,211.300003,212.490005,212.490005,70122700,182.424250,68105320.0
2024-06-17,213.369995,218.949997,212.720001,216.669998,216.669998,93728300,182.569350,70727590.0
2024-06-18,217.589996,218.630005,213.000000,214.289993,214.289993,79943300,182.701450,72506690.0
2024-06-20,213.929993,214.240005,208.850006,209.679993,209.679993,86172500,182.802550,74699845.0
2024-06-21,210.389999,211.889999,207.110001,207.490005,207.490005,241805100,182.891500,85057675.0